body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
   justify-content: center;
   overflow: hidden;
   flex-direction: column;
   background-color: #fff;
   background-image: linear-gradient(62deg, #ffffff 0%, #00a890 100%); 
}

.calc {
    padding: 20px;
    border-radius: 1em;
    height: 500px;
    width: 400px;
    margin: auto;
    background-color: #2c454f;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.637);
}

.display-box {
    font-family: 'Orbitron',sans-serif;
    background-color: white;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 55%;
    outline: none;
    font-size: 22px;
}

.button {
    font-family: 'Orbitron',sans-serif;
    background-color: black;
    color: white;
    border: solid black 0.5px;
    width: 80px;
    border-radius: 5px;
    height: 60%;
    outline: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.button:active {
    background-color: rgba(0, 0, 0, 0.568);
    transition: 0.3;
}
